*{
    box-sizing: border-box;
}

.preloader{
    width: 100%;
    height: 100vh;
    background-color: #00193d;
    position: fixed;
    top: 0 !important;
    z-index: 10000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-play-state: paused;
}

.loader {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
position: absolute;
box-sizing: border-box;
width: 100%;
height: 100%;
border-radius: 50%;  
}

.inner.one {
left: 0%;
top: 0%;
animation: rotate-one 1s linear infinite;
border-bottom: 3px solid #EFEFFA;
}

.inner.two {
right: 0%;
top: 0%;
animation: rotate-two 1s linear infinite;
border-right: 3px solid #EFEFFA;
}

.inner.three {
right: 0%;
bottom: 0%;
animation: rotate-three 1s linear infinite;
border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
}
100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
}
}

@keyframes rotate-two {
0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
}
100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
}
}

@keyframes rotate-three {
0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
}
100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
}
}

body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: initial;
    background-image: url(./../Assets/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Poppins', sans-serif !important;
}

#tableJ> tr> td, .noSelect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

#tableJ> tr> td{
    width: 20px !important;
}

#tableJ{
    background-color: rgb(255,255,255,0.2);
}

.buttons{
    color: white;
    cursor: pointer;
    text-shadow: 0 0 5px rgb(0,0,0);
}

.buttons:hover{
    background-color: rgb(230, 230, 230);
    color: black;
    text-shadow: 0 0 0px rgb(0,0,0);
}

.buttonClick{
    background-color: var(--bs-primary) !important;
    color: white !important;
}